.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.attribution {
    display: none;
}

.calculator-body {
    width: 36%;
    height: 80vh;
    background-color: #3A4663;
    padding: 3% 32% 8%;
}

.theme2 .calculator-body {
    background-color: #E6E6E6;
}

.theme3 .calculator-body {
    background-color: #17062A;
}

.top-section {
    position: relative;
    display: grid;
    grid-template-columns: 75% 20%;
    column-gap: 5%;
    width: 100%;
    height: 12%;
    color: #FFF;
}

.theme2 .top-section {
    color: #36362C;
}

.theme3 .top-section {
    color: #FFE53D;
}

.logo {
    grid-column: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.03rem;
}

.theme-label {
    grid-column: 1;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.1rem;
    left: 55%;
}

.theme-switcher {
    display: grid;
    grid-column: 2;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 45% 45%;
    column-gap: 2%;
    row-gap: 10%;
    width: 100%;
    height: 100%;
    align-content: end;
}

.theme-selector {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin-bottom: 0.1rem;
}

.switch-background {
    grid-row: 2;
    grid-column: 1 / span 3;
    background-color: #242D44;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.switch-background:hover {
    cursor:pointer;
}

.theme2 .switch-background {
    background-color: #D2CDCD;
}

.theme3 .switch-background {
    background-color: #1E0936;
}

.switch-container {
    grid-row: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.switch {
    background-color: #D03F2F;
    border-radius: 100%;
    height: 60%;
    width: 60%;
    z-index: 7;
}

.theme2 .switch {
    background-color: #C85402;
}

.theme3 .switch {
    background-color: #00DED0;
}

.switch-labels {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1;
    text-align: center;
    font-size: 0.75rem;
}

.label1 {
    grid-column: 1;
}

.label2 {
    grid-column: 2;
}

.label3 {
    grid-column: 3;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    background-color: #181F33;
    width: 100%;
    height: 15%;
    border-radius: 0.5rem;
}

.theme2 .screen {
    background-color: #EEEEEE;
}

.theme3 .screen {
    background-color: #1E0936;
}

.screen-display {
    color: #FFF;
    font-size: 3.5rem;
    margin-right: 7%;
    text-align: right;
}

.theme2 .screen-display {
    color: #36362C;
}

.theme3 .screen-display {
    color: #FFE53D;
}

.keypad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #242D44;
    width: 100%;
    height: 68%;
    border-radius: 0.5rem;
}

.theme2 .keypad-container {
    background-color: #D2CDCD;
}

.theme3 .keypad-container {
    background-color: #1E0936;
}

.keypad {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 17.6% 17.6% 17.6% 17.6% 17.6%;
    row-gap: 3%;
    column-gap: 4%;
    width: 85.4%;
    height: 85.4%;
}

.number-key, .letter-key, .equals-key, .function-key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #EAE3DC;
    border-radius: 0.3rem;
    box-shadow: 0 0.3rem #B3A497;
    color: #434A59;
    font-size: 2.5rem;
}

.letter-key, .equals-key{
    background-color: #647198;
    text-transform: uppercase;
    box-shadow: 0 0.3rem #414E73;
    font-size: 1.5rem;
    color: #FFF;
}

.equals-key {
    background-color: #D03F2F;
    box-shadow: 0 0.3rem #93261A;
    font-size: 2rem;
}

.theme2 .number-key .function-key {
    background-color: #E5E4E1;
    box-shadow: 0 0.3rem #A79E91;
    color: #36362C;
}

.theme2 .letter-key {
    background-color: #378187;
    box-shadow: 0 0.3rem #1B6066;
    color: #FFF;
}

.theme2 .equals-key {
    background-color: #C85402;
    box-shadow: 0 0.3rem #873901;
    color: #FFF;
}

.theme3 .number-key .function-key {
    background-color: #331C4D;
    box-shadow: 0 0.3rem #881C9E;
    color: #FFE53D;
}

.theme3 .letter-key {
    background-color: #56077C;
    box-shadow: 0 0.3rem #BE15F4;
    color: #FFF;
}

.theme3 .equals-key {
    background-color: #00DED0;
    box-shadow: 0 0.3rem #6CF9F1;
    color: #1A2327;
}

.number-key:hover, .letter-key:hover, .equals-key:hover, .function-key:hover {
    cursor: pointer;
}

.number-key:active, .letter-key:active, .equals-key:active, .function-key:active {
    box-shadow: none;
    transform: translateY(0.3rem);
    transition-duration: 0.1s;
}

.key1, .key2, .key3, .keyminus {
    grid-row: 3;
}

.key4, .key5, .key6, .keyplus {
    grid-row: 2;
}

.key7, .key8, .key9, .keydel {
    grid-row: 1;
}

.key1, .key4, .key7, .keydot {
    grid-column: 1;
}

.key2, .key5, .key8, .key0 {
    grid-column: 2;
}

.key3, .key6, .key9, .keydivide {
    grid-column: 3;
}

.keydot, .key0, .keydivide, .keytimes {
    grid-row: 4;
}

.keyplus, .keyminus, .keytimes, .keydel {
    grid-column: 4;
}

.keyreset {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.keyequals {
    grid-column: 3 / span 2;
    grid-row: 5;
}